body{
    background-color: #8176FF;
    color: #DEDAF9;
    font-family: 'Roboto Mono', monospace;
}

.box{
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: right;

}

#library{
    display: flex;
    flex-wrap: wrap;
}

.card{
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    margin: 12px; 
    padding: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

.card-body{
    display: flex;
    flex-direction: column;
}


label,
#button, .item{
     margin-top: 24px;
}

#button {
    background-color: #00CEFF;
    padding: 14px 40px;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #FEFAF9;
    border-radius: 2px;
    font-weight: 600;
    font-size: 24px;
    margin-top: 13px;
}

#button:hover, #buttond:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#buttond{
    background-color: #FE7295;
    padding: 14px 40px;
    border:none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: #FEFAF9;
    border-radius: 2px;
    font-weight: 600;
    font-size: 24px;
}

.card-tittle{
    color: #FC7296;
}

h1{
    text-align: center;
    color: #FFFFFF;
}

input {
    padding: 12px;
    color: #3AF7D1;
    font-weight: 800;
    font-size: 24px;;
}
